.SyncButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0 4px;
  border: none;
  background: none;
}

.SyncButton .MuiButton-label {
  display: flex;
  align-items: center;
}

.SyncButton__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 8px;
  white-space: nowrap;
  letter-spacing: 0.5px;
  line-height: 1;
}

.SyncButton .SyncButton__spinner {
  color: #fff;
}
