.InputImage {
  position: relative;
  display: block;
  width: 144px;
  height: 144px;
  background: #ddd;
  cursor: pointer;
  margin: 16px auto 0;
}

.InputImage > svg {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}

.InputImage__label {
  display: block;
  text-align: center;
  line-height: 120px;
  height: 100%;
  cursor: pointer;
}

.InputImage__label.is-uploaded {
  height: 0;
}

.InputImage__input {
  display: none;
}

.InputImage__img {
  height: 100%;
  width: 100%;
}
