.InputImage {
  position: relative;
  display: flex;
  align-items: center;
  width: 96px;
  height: 96px;
  background: #ddd;
  cursor: pointer;
}

@media (min-width: 600px) {
  .InputImage {
    width: 144px;
    height: 144px;
  }
}

.InputImage > svg {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #222;
  background: #fff;
  pointer-events: none;
}

.InputImage__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.InputImage.is-uploaded .InputImage__label {
  opacity: 0;
}

.InputImage__input {
  display: none;
}

.InputImage__img {
  width: 100%;
}
