.InputImage {
  position: relative;
  display: block;
  width: 96px;
  height: 96px;
  background: #ddd;
  cursor: pointer;
}

@media (min-width: 600px) {
  .InputImage {
    width: 144px;
    height: 144px;
  }
}

.InputImage > svg {
  width: 32px;
  height: 32px;
  padding: 4px;
  margin: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #222;
  background: #fff;
}

.InputImage__label {
  display: block;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.InputImage__label.is-uploaded {
  height: 0;
  visibility: hidden;
}

.InputImage__input {
  display: none;
}

.InputImage__img {
  height: 100%;
  width: 100%;
}
