.BoardButtonDetails {
}

.BoardButtonDetails__container {
  display: flex;
}

.BoardButtonDetails__image {
  margin-right: 16px;
}

.BoardButtonDetails__fields {
}

.BoardButtonDetails__radiogroup {
  margin-top: 15px;
}

.ColorSelection {
  list-style: none;
  padding: 0;
}

.ColorSelection__item {
  display: inline-block;
}

.ColorSelection__button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ColorSelection__button:focus {
  outline: 0;
}
