.BoardButtonDetails__container {
  display: flex;
}

.BoardButtonDetails__image {
  margin-right: 16px;
}

[dir='rtl'] .BoardButtonDetails__image {
  margin-left: 16px;
}

.BoardButtonDetails__radiogroup {
  margin-top: 15px;
}
