.BoardButtonDetails {
}

.BoardButtonDetails__container {
  display: flex;
}

.BoardButtonDetails__image {
  margin-right: 16px;
}

.BoardButtonDetails__fields {
}

.BoardButtonDetails__radiogroup {
  margin-top: 15px;
}
