.root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 6px;
  display: flex;
  flex-direction: column;
}

.empty_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  font-size: 2em;
}
