.EditGridButtons {
  position: fixed;
  z-index: 1100;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditGridButtons.toolbar-left {
  top: 170px;
  left: 170px;
  transform: translateY(0);
}

.EditGridButtons.toolbar-left .button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.EditGridButtons.toolbar-left button {
  min-width: 40px;
  padding: 2px 8px;
}

.EditGridButtons .MuiButton-root.Mui-disabled {
  background-color: #1976d2 !important;
  color: white !important;
}

@media (max-width: 480px) {
  .EditGridButtons.toolbar-left {
    left: 150px;
    top: 120px;
  }

  .EditGridButtons button svg {
    width: 100%;
    height: 100%;
  }
}
