.EditGridButtons__ButtonGroup {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.EditGridButtons__roundButton.MuiButton-root {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
  padding: 2px;
  min-width: 0;
  border-radius: 50%;
  background-color: rgb(218, 16, 86);
  color: white;
}

.EditGridButtons__roundButton.MuiButton-root:hover {
  background-color: rgb(157, 5, 58);
}

.EditGridButtons__box {
  display: flex;
  padding: 4px 7px 4px 7px;
  border: 2px solid rgb(218, 16, 86);
}
