.CommunicatorDialog__container {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 300px;
  overflow: hidden;
  padding: 0;
}

.CommunicatorDialog__tabs {
  background-color: #3f51b5;
  color: #fff;
}

.CommunicatorDialog__tabs [class^='TabIndicator-'] {
  background-color: #fff;
  height: 3px;
}

.CommunicatorDialog__content {
  height: calc(100% - 48px);
  overflow: auto;
  padding: 0;
}

.CommunicatorDialog__content .CommunicatorDialog__spinner {
  margin: 40px auto;
  display: block;
}

.CommunicatorDialog__communicatorData {
  background: #eee;
  padding: 16px 16px 28px;
}

.CommunicatorDialog__communicatorData__title {
  font-size: 1.14rem;
}

.CommunicatorDialog__communicatorData__boardsQty {
  font-size: 0.85rem;
  margin-top: 5px;
  color: #888;
}

.CommunicatorDialog__boards {
  background: #fff;
  padding: 20px 16px;
}

.CommunicatorDialog__boards__item {
  display: flex;
  min-height: 150px;
  margin-bottom: 10px;
}

.CommunicatorDialog__boards__item__data {
  position: relative;
  width: 50%;
  padding-left: 20px;
}

.CommunicatorDialog__boards__item__image {
  position: relative;
  width: 40%;
}

.CommunicatorDialog__boards__item__actions {
  position: relative;
  width: 10%;
  color: #5e5e5e;
}

.CommunicatorDialog__boards__item__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.CommunicatorDialog__boards__item__image__empty {
  height: 100%;
  background: #eee;
  position: relative;
}

.CommunicatorDialog__boards__item__image__empty svg {
  position: absolute;
  font-size: 3.42rem;
  color: #aaa;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.CommunicatorDialog__boards__item__image__button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.CommunicatorDialog__boards__item__image__button svg {
  font-size: 1.3rem;
  color: #777;
  opacity: 0.7;
}

.CommunicatorDialog__boards__item__image__button svg:hover {
  opacity: 1;
}

.CommunicatorDialog__boards__item__data__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.CommunicatorDialog__boards__item__data__title,
.CommunicatorDialog__boards__item__data__author,
.CommunicatorDialog__boards__item__data__extra {
  margin-top: 2px;
  display: flex;
}

.CommunicatorDialog__boards__item__data__date {
  margin-top: 5px;
  font-size: smaller;
  color: grey;
}

.CommunicatorDialog__boards__item__data__extra {
  color: #369b00;
  margin-top: 10px;
}

.CommunicatorDialogButtons__container {
  margin: 0 20px 0 auto;
  display: flex;
}

.CommunicatorDialogButtons__container > div {
  margin-left: 20px;
}

.CommunicatorDialogButtons__searchInput input {
  min-width: 200px;
  color: #fff;
}

.CommunicatorDialogButtons__searchInput [class*='MuiInput-underline-']:before,
.CommunicatorDialogButtons__searchInput [class*='MuiInput-underline-']:after {
  border-bottom-color: #fff;
}

.CommunicatorDialogButtons__searchInput
  [class*='MuiInput-underline-']:hover:not([class^='MuiInput-disabled']):not([class^='MuiInput-focused']):not([class^='MuiInput-error']):before,
.CommunicatorDialogButtons__searchInput
  [class*='MuiInput-underline-']:hover:not([class^='MuiInput-disabled']):not([class^='MuiInput-focused']):not([class^='MuiInput-error']):after {
  border-bottom-color: #fff;
}
#communicator-dialog-buttons-menu a {
  color: inherit;
  text-decoration: none;
}
