.react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background: rgb(255,255,255); /* The Fallback */
  background: rgba(63, 81, 181, 0.2);
}

.react-autosuggest__suggestion {
  width: 25%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@media (min-width: 600px) {
  .react-autosuggest__suggestion {
    width: 12.5%;
  }
}

.SymbolSearch__Suggestion--highlighted {
  border: 2px solid #3f51b5;
  padding: 2px;
}

.SymbolSearch__Suggestion-img {
  width: 100%;
  height: auto;
}
