.ColorSelection {
  list-style: none;
  padding: 0;
}

.ColorSelection__item {
  display: inline-block;
}

.ColorSelection__button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid transparent !important;
}

.ColorSelection__button:focus {
  outline: 0;
}

.ColorSelection__button--selected {
  /* state class - can use important */
  border-color: #000 !important;
}
