.Symbol {
  height: 100%;
  width: 100%;
  background: none;
}

.Symbol__container {
  position: relative;
  height: calc(70% - 20px);
  margin-top: 20px;
}

.Symbol__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.Symbol__label {
  position: relative;
  height: 30%;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.Symbol__label > span {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[dir='rtl'] .Symbol__label {
  direction: rtl;
}

