.image-placeholder {
  position: relative;
  width: 64px;
}

.image-placeholder::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image-placeholder > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
