html, body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: sans-serif;
}

.font-loaded body {
  font-family: 'Open Sans';
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.app__nav-bar {
  height: 48px;
  background: #F2F2F2;
  color: #fff;
  display: flex;
  align-items: center;
  user-select: none;
}

.app__settings {
  display: flex;
  align-items: center;
}

.app__main {
  position: relative;
  flex: 1;
  overflow: hidden;
}