html, body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__nav-bar {
  height: 48px;
  background: #3F51B5;
  color: #fff;
  display: flex;
  align-items: center;
  user-select: none;
}

.app__settings {
  display: flex;
  align-items: center;
}

.app__main {
  flex: 1;
  overflow: hidden;
}