.board {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board__bar {
  display: flex;
}

.board__bar .home-button {
  width: 56px;
}

.board__bar .output {
  flex: 1;
}

.board__bar button {
  border: none;
  color: #000;
  cursor: pointer;
}

.board__bar button:focus {
  outline: none;
}

.board__toolbar {
  background: #eee;
  /*border: 1px solid transparent;
  border-bottom-color: #ccc;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  z-index: 2;
}

.board__buttons {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #eee;
}

.material-icons {
  vertical-align: middle;
}