.board {
  height: 100%;
}

.board__output {}

.board__toolbar {
  height: 44px;
  display: flex;
  align-items: center;
  background: #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  position: relative;
  z-index: 2;
}

.board__toolbar > button {
  z-index: 2;
}

.board__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 108px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #eee;
}

.material-icons {
  vertical-align: middle;
}