.button {
  width: 90px;
  height: 90px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: #3A3A4D;
  background-color: #fff;
  border: 2px solid transparent;
  outline: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.button:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.button__symbol {
  position: relative;
  width: 50%;
  margin: auto;
}

.button__symbol::before {
  content: '';
  display: block;
  height: 0;
  padding-top: 100%;
}

.button__image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.button__label {
  display: block;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button--link {
  background-color: yellowgreen;
}