.output {
  height: 64px;
  display: flex;
}

.output__values {
  flex: 1;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  direction: rtl;
  background: #fff;
  cursor: pointer;
}

.output__backspace {
  width: 56px;  
  overflow: hidden;
}

.output__clear {
  width: 56px;  
  overflow: hidden;
}

.values-wrap {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  direction: ltr;
}

.value {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.value__image {
  width: 40px;
  height: 40px;
}

.value__label {
  white-space: nowrap;
}