.Symbol {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: none;
}

.SymbolOutput .scanner__focused {
  outline: 4px solid rgba(255, 0, 0, 1);
}

.Symbol__image-container {
  position: relative;
  flex: 1;
}

.Symbol__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.Symbol__label {
  width: 100%;
  font-size: 0.85rem;
  font-weight: 700;
  margin: 2px 0;
  position: relative;
  text-align: center;
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 600px) {
  .Symbol__label {
    font-size: 1rem;
    margin: 4px 0;
  }
}

[dir='rtl'] .Symbol__label {
  direction: rtl;
}
