.Login__form > div[class^='MuiFormControl-root-'] {
  width: 100%;
}

.Login__form > div[class^='MuiFormControl-root-']:not(:first-child) {
  margin-top: 0.75em;
}

.Login__buttons {
  display: flex;
  align-items: baseline;
}

.Login__buttons > button:first-child {
  margin: 1em 1em 0 0;
}
