.Login__field:not(:first-child) {
  margin-top: 0.75em !important;
}

.Login__field_gender {
  margin-top: 1em !important;
}

.Login__button {
  margin: 0.75em 1em 0.75em 0;
}

div[class^='MuiFormControl-root-'] {
  width: 100%;
}
