.Login__field:not(:first-child) {
  margin-top: 0.75em !important;
}

.Login__field_gender {
  margin-top: 1em !important;
}

.Login__buttons {
  display: flex;
  align-items: baseline;
}

.Login__buttons > button:first-child {
  margin: 1em 1em 0 0;
}

div[class^='MuiFormControl-root-'] {
  width: 100%;
}
