.ShareDialog__container .ShareDialog__title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 18px;
  padding: 20px 24px 18px;
  position: relative;
}

.ShareDialog__container .ShareDialog__title button {
  position: absolute;
  top: 7px;
  right: 7px;
  color: #000;
}

.ShareDialog__container .ShareDialog__content__publish {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px 0;
  margin-bottom: 16px;
}

.ShareDialog__content__publish > a {
  margin: 16px;
}

.ShareDialog__socialIcons {
  text-align: center;
}

.ShareDialog__socialIcons > div {
  display: flex;
}

.ShareDialog__socialIcons > div {
  margin-bottom: 10px;
}

.ShareDialog__socialIcons button:disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ShareDialog__socialIcons > div > button:not(:last-child) {
  margin: 0 2px 0 0;
}

.ShareDialog__socialIcons__copyAction div:first-child {
  padding: 10px 0 4px;
}

.ShareDialog__socialIcons__copyAction > span,
.ShareDialog__socialIcons .SocialMediaShareButton span {
  padding: 3px 0 0;
  font-size: 0.85rem;
}

.ShareDialog__socialIcons__copyAction svg {
  font-size: 3.42rem;
}
