.NavigationButton {
  position: fixed;
  z-index: 1000;
  height: 8rem;
  width: 6rem;
  background: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
}

.NavigationButton:hover,
.RectangleButton:hover {
  background: rgba(255, 0, 0, 0.8);
}

.NavigationButton.left {
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 40%;
}

.NavigationButton.right {
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  top: 40%;
}

.NavigationButton.top {
  top: 160px;
  right: 50%;
  left: 50%;
  height: 6rem;
  width: 8rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -4rem;
}

.NavigationButton.top.moveDown,
.ScrollButtonsContainer.moveDown {
  top: 240px;
}

.NavigationButton.bottom {
  bottom: 0;
  right: 50%;
  left: 50%;
  height: 6rem;
  width: 8rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-left: -4rem;
}

.NavigationButton button,
.RectangleButton button {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10% 0 0 0;
  color: #fff;
  cursor: pointer;
}

.NavigationButton button svg,
.RectangleButton button svg {
  width: 5rem;
  height: 5rem;
}

.NavigationButton.RectangleTop {
  top: 160px;
  height: 20rem;
  width: 5rem;
}

.NavigationButton.RectangleBottom {
  bottom: 0;
  height: 20rem;
  width: 5rem;
}

.RectangleButton.disable {
  pointer-events: none;
  background-color: rgb(196, 195, 195);
}

.RectangleButton {
  background-color: rgba(255, 0, 0, 0.5);
  flex-grow: 1;
}

.RectangleTop,
.RectanglePreviousBoard {
  margin-bottom: 2px;
}

.RectangleBottom,
.RectangleToRootBoard {
  margin-top: 2px;
}

.ScrollButtonsContainer {
  position: fixed;
  top: 160px;
  bottom: 0px;
  z-index: 1000;
  /* height: 100%; */
  width: 5rem;
  /* background: rgba(72, 0, 255, 0.5); */
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* align-items: baseline; */
}

.ScrollButtonsContainer.Back {
  right: 0;
}

@media (max-width: 480px) {
  .NavigationButton {
    height: 6rem;
    width: 4rem;
  }

  .NavigationButton.top {
    height: 4rem;
    width: 6rem;
    margin-left: -2rem;
  }

  .NavigationButton.bottom {
    height: 4rem;
    width: 6rem;
    margin-left: -2rem;
  }

  .NavigationButton button svg {
    width: 100%;
    height: 100%;
  }
  /* .NavigationButton.RectangleTop{
    height: 26rem;
  }
  .NavigationButton.RectangleBottom{
    height: 26rem;
  } */
}
