.SymbolDetails {
}

.SymbolDetails__container {
  display: flex;
}

.SymbolDetails__symbol {
  margin-right: 24px;
}

.SymbolDetails__fields {
  
}

.SymbolDetails__radiogroup {
  margin-top: 15px;
}

