.SymbolDetails {
}

.SymbolDetails__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.SymbolDetails__content {
  height: 100%;
  padding: 24px;
  background: #fff;
}
