.WelcomeScreen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: #eceff1;
  background: linear-gradient(to right, rgb(121, 22, 254), rgb(172, 47, 138));
}

.WelcomeScreen__content {
  flex: 1;
}

.WelcomeScreen__heading {
  color: #eceff1 !important;
}

.WelcomeScreen__footer > button {
  margin-right: 1em;
}

.WelcomeScreen__footer > button:last-child {
  margin-right: 0;
  float: right;
}

@media screen and (max-width: 576px) {
  .WelcomeScreen__footer {
    display: flex;
    justify-content: space-between;
  }

  .WelcomeScreen__footer > button {
    flex-grow: 1;
  }
}
