.Analytics {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1;
}

.Analytics__Graph {
  display: block;
  box-sizing: border-box;
  padding-bottom: 6rem;
  padding-top: 1.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #4b579c;
}

.Analytics__Graph__Title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 4rem;
  color: rgba(#fff, 0.87) !important;
}

.Analytics__Metrics {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  top: -76px;
  position: relative;
  margin: 30px;
}

.Card {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 6px;
}

.card-title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

.Metrics .face-group .avatar {
  border: 2px solid white;
  margin-left: -14px;
}

.Metrics .small-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.Metrics .small-circle .small-icon {
  font-size: 8px;
}

.Metrics .project-card .card__roject-name {
  margin-left: 24px;
}
