.CboardLogo {
  padding: 5vh;
  margin: 0 auto;
  display: block;
  max-height: 50vh;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 360px) {
  .AuthScreen__content {
    max-height: calc(100vh - 100px);
    overflow: hidden;
  }
}
