.downloader {
  overflow-y: auto;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.downloader__text-success {
  color: green;
}

.downloader__text-error {
  color: red;
}
