.SymbolOutput {
  height: 100%;
  width: 100%;
  display: flex;
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.is-dark .SymbolOutput {
  background: #eee;
  color: #000;
}

.SymbolOutput__value {
  height: calc(100% - 10px);
  width: 100px;
  padding: 0 5px;
  position: relative;
}

.SymbolOutput__symbol {
  color: #000;
}

.SymbolOutput__value__IconButton {
  position: absolute;
  top: -10px;
  right: -10px;
}
