.SymbolOutput {
  height: 100%;
  width: 100%;
  display: flex;
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.is-dark .SymbolOutput {
  background: #eee;
  color: #000;
}

.SymbolOutput__value {
  height: calc(100% - 10px);
  width: 100px;
  padding: 0 5px;
  position: relative;
}

.LiveSymbolOutput__value {
  display: flex;
  height: 100%;
  width: 140px;
  padding: 3px 5px;
  align-self: flex-end;
  position: relative;
}

.SymbolOutput__symbol {
  color: #000;
}

.SymbolOutput__value__IconButton {
  position: absolute;
  --close-button-top: -10px;
  top: -10px;
  top: var(--close-button-top);
  right: -10px;
}

.LiveSymbolOutput__value > .SymbolOutput__value__IconButton {
  --close-button-top-live-difference: -5px;
  top: -5px;
  top: calc(var(--close-button-top) - var(--close-button-top-live-difference));
}

.SymbolOutput__right__btns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: 100%;
  overflow: visible;
  justify-content: center;
}

.SymbolOutput__right__btns .MuiFormControlLabel-label {
  font-size: 11px;
}
