.SymbolOutput {
  display: flex;
  height: 112px;
  background: #fff;
}

.SymbolOutput__scroll {
  position: relative;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.SymbolOutput__scroll:focus {
  outline: 0;
  background-color: #e0e0e0;
}

.SymbolOutput__values {
  position: absolute;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.SymbolOutput__values:not(:empty) {
  cursor: pointer;
}

.Value {
  height: calc(100% - 10px);
  width: 100px;
  padding: 0 5px;
}

.SymbolOutput__backspace {
  align-self: center;
}

[dir='rtl'] .SymbolOutput__backspace svg {
  transform: scaleX(-1);
}
