.BoardButton {
  height: 100%;
  width: 100%;
  padding: 20px 5px 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  will-change: transform;
}

.BoardButton:focus {
  outline: 4px solid #222;
}

.BoardButton:active::before,
.BoardButton:active::after {
  background: #ccc;
}

.BoardButton::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff176;
  border-radius: 3px;
}

.BoardButton .CheckCircleIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #1976d2;
  border-radius: 50%;
  background: #fff;
  width: 32px;
  height: 32px;
}

.BoardButton::before,
.BoardButton--folder::after {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.BoardButton--folder {
  position: relative;
  border-radius: 0 6px 6px 6px;
}

.BoardButton--folder::before {
  top: 10px;
  background: #bbdefb;
  border-radius: 0 3px 3px 3px;
}

.BoardButton--folder::after {
  content: '';
  width: 50%;
  height: 10px;
  border-radius: 0 20px 0 0;
  background: #bbdefb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* todo remove this. should be set via style attr in React */
.BoardButton.purple::before,
.BoardButton--folder.purple::after {
  background: #ce93d8;
}

.BoardButton.blue::before,
.BoardButton--folder.blue::after {
  background: #2196f3;
}

.BoardButton.green::before,
.BoardButton--folder.green::after {
  background: #4caf50;
}

.BoardButton.red::before,
.BoardButton--folder.red::after {
  background: #e57373;
}
