.EditToolbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 48px;
  color: #fff;
  background-color: #757575;
}

.EditToolbar__group {
  flex: 1;
  display: flex;
}

.EditToolbar__group--start {
  justify-content: flex-start;
}

.EditToolbar__group--end {
  order: 3;
  justify-content: flex-end;
}

.EditToolbar--selecting {
  background-color: #2196f3;
}
