.Scroll {
  position: relative;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.Scroll__container {
  position: absolute;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.Scroll__container:not(:empty):focus {
  outline: 0;
  background-color: #e0e0e0;
}

.is-dark .Scroll__container:not(:empty):focus {
  background-color: #757575;
}

.Scroll__container:not(:empty) {
  cursor: pointer;
}

.Scroll__container:not(.scanner__focused) {
  outline: 0;
}
