.FilterBar {
  display: flex;
  margin-top: 16px;
  border-radius: 4px;
}

.FilterBar__button {
  flex: 1;
  /* TODO: remove importants */
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-radius: 0 !important;
  overflow: hidden;
}

.FilterBar__button.is-selected {
  background: #ddd;
}
