*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  user-select: none;
}

body,
input,
textarea,
select,
button {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}
