*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  user-select: none;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

.adSense__test__marker {
  border: 3px inset var(--swiper-theme-color);
}
.adSense__test__marker::before {
  content: 'Space for ads';
  display: flex;
  justify-content: center;
  padding: 2em;
}

html,
body,
#root {
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

.Board,
.Main,
#BoardTilesContainer {
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

div[style*='1466px'],
div[style*='200%'],
div[style*='scroll'] {
  display: none;
}

.erd_scroll_detection_container,
.erd_scroll_detection_container > div,
.erd_scroll_detection_container > div > div {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
