.FullScreenDialog__buttons {
  height: 48px;
  display: flex;
  justify-content: flex-end;
}

.FullScreenDialogContent {
  padding: 16px;
}

@media (min-width: 600px) {
  .FullScreenDialogContent {
    padding: 24px;
  }
}
