.Settings__content {
  max-width: 680px;
  margin: 0 auto;
}

.Settings__section {
  margin-bottom: 8px;
}

.Settings__section--secondaryAction {
  padding-right: 1.5rem;
}

.Settings__UserIcon__Container button {
  padding: 0;
}

.Settings__UserIcon__Container button img {
  width: 100%;
  height: 100%;
}

.Settings--secondaryAction {
  padding-right: 1.5rem;
  width: 50%;
}

.Settings--secondaryAction--textField {
  width: 100%;
}

.Settings__Language__MoreLang button {
  margin-left: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.Settings__Language__MoreLang__Dialog {
  padding: 1rem;
}

.Settings__Language__MoreLang__Dialog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}

.Settings__Language__MoreLang__Dialog iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 1rem;
}

.Settings__Language__TTSEnginesContainer {
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.Settings__Language__TTSEnginesContainer__Select {
  width: 60%;
}

.Settings__Language__Spinner {
  color: rgb(121, 22, 254);
  position: fixed;
  top: 50%;
  left: 50%;
}
