.Settings__content {
  max-width: 680px;
  margin: 0 auto;
}

.Settings__section {
  margin-bottom: 8px;
}

.Settings__section--secondaryAction {
  padding-right: 1.5rem;
}

.Settings__UserIcon__Container button {
  padding: 0;
}

.Settings__UserIcon__Container button img {
  width: 100%;
  height: 100%;
}

.Settings--secondaryAction {
  padding-right: 1.5rem;
  width: 50%;
}

.Settings--secondaryAction--textField {
  width: 100%;
}
