.TileEditor__container {
  display: flex;
}

.TileEditor__column {
  width: 96px;
  flex-shrink: 0;
  margin-right: 16px;
}

@media (min-width: 600px) {
  .TileEditor__column {
    width: 144px;
  }
}

.TileEditor__fields {
  min-width: 0;
}

.TileEditor__preview {
  position: relative;
  margin-bottom: 10px;
}

.TileEditor__preview::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.TileEditor__preview .Tile {
  position: absolute;
  top: 0;
  left: 0;
}

.TileEditor__radiogroup {
  margin-top: 15px;
}

.TileEditor__colorselect {
  margin-top: 15px;
}
.TileEditor__voicerecorder {
  margin-top: 15px;
}

.TileEditor__radiogroup__formcontrollabel {
  margin-top: 5px;
}
