.Tile {
  height: 100%;
  width: 100%;
  padding: 20px 5px 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  outline: 4px solid transparent;
  transition: outline-color 0.15s;

  /* HACK: fixes iOS flicker on scroll */
  transform: translateZ(0);
}

.Tile:focus,
.Tile:active {
  outline-color: rgb(34, 34, 34);
  transition: outline 0;
}

.Tile:not(:focus):hover {
  outline-color: rgba(34, 34, 34, 0.25);
}

.CheckCircle {
  color: #1976d2;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  width: 32px;
  height: 32px;
}

.CheckCircle__icon {
  /* TODO: in js :/ */
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
}

.Tile .CheckCircle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  border: 2px solid;
}

.TileShape::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.TileShape--folder::before {
  top: 10px;
  border-radius: 0 3px 3px 3px;
}

.TileShape--folder::after {
  content: '';
  width: 50%;
  height: 11px;
  border-radius: 0 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-bottom: 0;
  background: inherit;
}
