.Tile {
  height: 100%;
  width: 100%;
  padding: 20px 5px 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  outline: 4px solid transparent;
  transition: outline-color 0.15s;

  /* HACK: fixes iOS flicker on scroll */
  transform: translateZ(0);
}

.Tile:focus,
.Tile:active {
  outline-color: rgb(34, 34, 34);
  transition: outline 0;
}

.Tile:not(:focus):hover {
  outline-color: rgba(34, 34, 34, 0.25);
}

.Tile::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff176;
  border-radius: 3px;
}

.Tile .CheckCircleIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #1976d2;
  border-radius: 50%;
  background: #fff;
  width: 32px;
  height: 32px;
}

.Tile::before,
.Tile--folder::after {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.Tile--folder {
  position: relative;
  border-radius: 0 6px 6px 6px;
}

.Tile--folder::before {
  top: 10px;
  background: #bbdefb;
  border-radius: 0 3px 3px 3px;
}

.Tile--folder::after {
  content: '';
  width: 50%;
  height: 10px;
  border-radius: 0 20px 0 0;
  background: #bbdefb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* todo remove this. should be set via style attr in React */
.Tile.purple::before,
.Tile--folder.purple::after {
  background: #ce93d8;
}

.Tile.blue::before,
.Tile--folder.blue::after {
  background: #2196f3;
}

.Tile.green::before,
.Tile--folder.green::after {
  background: #4caf50;
}

.Tile.red::before,
.Tile--folder.red::after {
  background: #e57373;
}
