.StyledTable {
  overflow: hidden;
}

.StyledTable__Title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  margin-bottom: 0.75rem !important;
}

.StyledTable__Container {
  overflow: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.StyledTable__Table {
  table-layout: fixed;
  white-space: pre;
  min-width: 300px;
  overflow: auto;
}

.StyledTable__Table__TableCell__Items {
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.StyledTable__ImageView {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 680px;
  margin: 0 auto;
}

.StyledTable__ImageView img {
  max-width: 256px;
  overflow: hidden;
  max-height: 100%;
}

.StyledTable__Table__TableCell__Items p {
  margin: 0rem;
  margin-left: 2rem;
}
